<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
  <style>
    body {
        font-family: "Lato", sans-serif;
    }

    .main-head {
        height: 150px;
        background: #FFF;
    }

    .sidenav {
        height: 100%;
        background-color: #000;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .main {
        padding: 0px 10px;
    }

    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }

    .login-main-text h2 {
        font-weight: 300;
    }

    .btn-black {
        background-color: #000 !important;
        color: #fff;
    }
  </style>
</head>

<body>
  <div class="sidenav">
    {% block msg %}
      <h1 style="color:aliceblue">Bezos Babes' One Stop Shop</h1>
      <div style="color: aliceblue; text-align: right; margin-bottom: 25px">
        {% if current_user.is_authenticated %}
          Hello {{current_user.firstname}}! <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
        {% else %}
          <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
        {% endif %}
      </div>
    {% endblock %}
  </div>

  {% if request.path == "/" %}
  <div class = "topnav d-flex myNav">
    <a class = "current" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% elif "/products" in request.path or "/detailedProduct" in request.path  %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a class = "current" href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% elif request.path == "/sellers" %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a class = "current" href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>

  </div>
  {% elif request.path == "/carts" or "cart" in request.path %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a class = "current"href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% elif request.path == "/account" or request.path == "/manage_balance" or request.path == "/update_account"%}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a class = "current"href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
    </div>
  {% elif request.path == "/manageInventory" %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a class = "current"href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>  
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% elif request.path == "/pastPurchases" %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a class = "current" href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>  
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% elif request.path == "/receivedReviews" or request.path == "/writtenReviews" or "Review" in request.path%}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a class = "current" href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>  
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% else %}
  <div class = "topnav d-flex myNav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/products"><i class="fa fa-fw fa-search"></i>Shop Products</a>
    <a href="/sellers"><i class="fa fa-fw fa-users"></i>Browse Sellers</a>
    <a href="/pastPurchases"><i class="fa fa-fw fa-history"></i>Past Purchases</a>
    <a href="/manageInventory"><i class="fa fa-fw fa-cubes"></i>Manage Inventory</a>
    <a href="/receivedReviews"><i class="fa fa-fw fa-comments"></i>Reviews</a>
    <a href="/account"><i class="fa fa-fw fa-user"></i>Account</a>  
    <a href="/carts"><i class="fa fa-fw fa-shopping-cart"></i>Cart</a>
  </div>
  {% endif %}

  <br></br>
  <div class="main">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>
