{% extends "base.html" %}

{% block content %}

<br><br>
<h1>Your cart:</h1>
{% if current_user.is_authenticated %}
<td><a style="background-color: hotpink;"class = "btn btn-secondary" href="{{ url_for('carts.submitOrder') }}" role = "button">Submit Order</a></td> 
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Add Quantity</th>
      <th scope="col">Remove Quantity</th>
      <th scope="col">Remove From Cart</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in user_cart%}
        <tr>
          <th scope="row">{{cart.userId}}</th>
          <td>{{cart.pid}}</td>
          <td>{{cart.quantity}}</td>
          <td>{{cart.productName}}</td>
          <td>{{cart.unitPrice}}</td>
          <td>{{totalCost}}</td>
          <td><a style="background-color: hotpink;" class = "btn btn-secondary" href="{{ url_for('carts.cartIncreaseQuantity', productId = cart.pid) }}" role = "button">Add 1</a></td> 
          <td><a style="background-color: hotpink;" class = "btn btn-secondary" href="{{ url_for('carts.cartDecreaseQuantity', productId = cart.pid) }}" role = "button">Remove 1</a></td> 
          <td><a style="background-color: hotpink;"class = "btn btn-secondary" href="{{ url_for('carts.cartRemoveProduct', productId = cart.pid) }}" role = "button">Remove from Cart</a></td> 
        </tr>
      {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}