{% extends "base.html" %}
{% block content %}

<br><br>
<h1>Detailed Order Page:</h1>
{% if current_user.is_authenticated %}

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price (Final)</th>
      <th scope="col">Total Line Cost</th>
      <th scope="col">Time Ordered</th>
      <th scope="col">Was Fulfilled</th>
      <th scope="col">Time Fulfilled</th>
    </tr>
  </thead>
  <tbody>
    {% for order in lines %}
    <tr>
        <td>{{order[0]}}</td>
        <td>{{order[1]}}</td>
        <td>{{order[2]}}</td>
        <td>{{order[3]}}</td>
        <td>{{order[4]}}</td>
        <td>{{order[5]}}</td>
        <td>{{order[6]}}</td>
        <td>{{order[7]}}</td>
        {% if order[7] == false%}
          <td><p>N/A</p></td>
        {% else %}
        <td>{{order[8]}}</td>
        {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}