{% extends "base.html" %}
{% block content %}
  
<p>   </p>
<h4>Edit your Review for Seller {{sellerId}}</h4>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{form.description.label}}
      {{form.description}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.rating.label}}
      {{form.rating}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.image(class="form-control-file")}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>{{ form.submit() }}</p>
  </form>
    
    

{% endblock %}