{% extends "base.html" %}
{% block content %}
<p>   </p>
<h4>Edit your product {{productId}}</h4>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{form.name.label}}
      {{form.name}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.description.label}}
      {{form.description}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.category.label}}
      {{form.category}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.price.label}}
      {{form.price}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    
    <p>
      {{form.quantity.label}}
      {{form.quantity}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.available.label}} <br/>
      {{form.available}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  
    <p>
      {{form.image(class="form-control-file")}}
      {% for error in form.image.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>  


    <p>{{ form.submit() }}</p>
  </form>
    
    

{% endblock %}