{% extends "base.html" %}

{% block content %}

<h1>Manage Balance</h1>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.amount.label }}<br/>
    {{ form.amount(size=32) }}<br/>
    {% for error in form.amount.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.amount2.label }}<br/>
    {{ form.amount2(size=32) }}<br/>
    {% for error in form.amount2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  {{ form.submit(class_="btn btn-black") }}
</form>

{% endblock %}