{% extends "base.html" %}
{% block content %}

<h2>Top {{K}} MOST EXPENSIVE PRODUCTS</h2>
<br></br>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Is Available</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Seller Id</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
        <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.available}}</td>
          <td>{{product.category}}</td>
          <td>{{product.theDescription}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.sellerId}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

