{% extends "base.html" %}

{% block content %}

<h2>Five Recent Product Reviews for user with UID={{userId}}</h2>
<br></br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for review in product_reviews%}
      <tr>
        <th scope="row">{{review.userId}}</th>
        <td>{{review.pid}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.theDescription}}</td>
        <td>{{review.theDate}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Five Recent Seller Reviews for user with UID={{userId}}</h2>
<br></br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for review in seller_reviews%}
      <tr>
        <th scope="row">{{review.userId}}</th>
        <td>{{review.sellerId}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.theDescription}}</td>
        <td>{{review.theDate}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>






{% endblock %}

