{% extends "base.html" %}

{% block content %}

<h2>My Seller Inventory</h2>
    <br></br>
    <div class = "sortButtonGroup"> 
    <label><b>Select Sort Criteria</b></label>

    {%if orderBy == 5 %}
    <a id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 7) }}" role = "button">Quantity High to Low</a> 
    <a style="background-color: hotpink;" id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 3) }}" role = "button">Price High to Low</a> 
    {%elif orderBy == 3 %}
    <a style="background-color: hotpink;" id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 7) }}" role = "button">Quantity High to Low</a> 
    <a id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 3) }}" role = "button">Price High to Low</a> 
    {%endif %}
    </div>
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Available</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Inventory Quantity</th>
            <th scope="col">Update Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for item in seller_inventory%}
            <tr>
              <th scope="row">{{item.name}}</th>
              <td>{{item.price}}</td>
              <td>{{item.available}}</td>
              <td>{{item.category}}</td>
              <td>{{item.theDescription}}</td>
              <td>{{item.quantity}}</td>
              <td><a class = "btn btn-secondary" href="{{ url_for('carts.addToCart', productId = product.id) }}" role = "button">Update Quantity</a></td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% endblock %}