{% extends "base.html" %}
{% block content %}
<style>
  .outer {
  display: flex;
  justify-content: center;
  }
</style> 

<h2 style="text-align: center;">Reviews of Seller {{sellerId}}</h2>
    <br></br>

<h2>TOP 3 MOST UPVOTED REVIEWS</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in top3%}
      <tr>
        <th scope="row">{{review.userId}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.theDescription}}</td>
        <td>{{review.theDate}}</td>
        <td> 
          <div> 
          <a href="{{ url_for('sellerReviewOutput.addSellerUpvotes', userId = review.userId, sellerId=review.sellerId, orderBy=orderBy) }}" class="w3-button w3-win8-pink"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></a>
          {{review.upvotes}}
        </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

    <div class = "sortButtonGroup outer"> 
    <label><b>Select Sort Criteria</b></label>
      {%if orderBy == 5 %}
      <a id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerReviewOutput.sellerReviewOutput', sellerId = sellerId, orderBy = 3) }}" role = "button">By Ratings</a> 
      <a style="background-color: hotpink;" id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerReviewOutput.sellerReviewOutput', sellerId = sellerId, orderBy = 5) }}" role = "button">By Date</a> 
      {%elif orderBy == 3 %}
      <a style="background-color: hotpink;" id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerReviewOutput.sellerReviewOutput', sellerId = sellerId, orderBy = 3) }}" role = "button">By Ratings </a> 
      <a id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerReviewOutput.sellerReviewOutput', sellerId = sellerId, orderBy = 5) }}" role = "button">By Date</a> 
      {%endif %}
    </div>
  <div> 
    <p>Average = {{avgRating}}</p>
    <p>Number of Ratings = {{num}}</p>
  </div>


  <table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in seller_reviews%}
      <tr>
        <td>{{review.userId}}</td>
        <td>{{review.sellerId}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.theDescription}}</td>
        <td>{{review.theDate}}</td>
        <td> 
          <div>
          <a href="{{ url_for('sellerReviewOutput.addSellerUpvotes', userId = review.userId, sellerId=review.sellerId, orderBy=orderBy) }}" class="w3-button w3-win8-pink"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></a>
          {{review.upvotes}}
        </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">

<div class="w3-bar w3-center" style="padding-top: 10px; padding-bottom: 30px;">
	{% if activePage == 1 %}
		<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = activePage, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-dark-grey">&laquo;</a>
	{% else %}
		<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = activePage-1, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-dark-grey">&laquo;</a>
	{% endif %}
	
	{% for page in range(1, pages+1) %}
		{% if activePage == page %}
			<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = page, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-win8-pink">{{page}}</a>
		{% else %}
			<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = page, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-dark-grey">{{page}}</a>
		{% endif %}
	{% endfor %}

	{% if activePage == pages %}
		<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = activePage, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-dark-grey">&raquo;</a>
	{% else %}
		<a href="{{ url_for('sellerReviewOutput.sellerReviewOutput', activePage = activePage+1, sellerId=sellerId, orderBy=orderBy) }}" class="w3-button w3-dark-grey">&raquo;</a>
	{% endif %}
</div>
{% endblock %}

