{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>My Seller Inventory</h2>
{% if user.is_seller(current_user.id) == TRUE %}
    <div class = "sortButtonGroup"> 
    <label><b>Select Sort Criteria</b></label>

    {%if orderBy == 3 %}
    <a id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 7) }}" role = "button">Quantity High to Low</a> 
    <a style="background-color: hotpink;" id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 3) }}" role = "button">Price High to Low</a> 
    {%elif orderBy == 7 %}
    <a style="background-color: hotpink;" id = "sortButton1" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 7) }}" role = "button">Quantity High to Low</a> 
    <a id = "sortButton2" class = "btn btn-secondary" href="{{ url_for('sellerInventory.sellerInventory', sellerId = sellerId, orderBy = 3) }}" role = "button">Price High to Low</a> 
    {%endif %}
    </div>
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Available</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Inventory Quantity</th>
            <th scope="col">Increase Quantity</th>
            <th scope="col">Decrease Quantity</th>
            <th scope="col">Delete Item</th>
          </tr>
        </thead>
        <tbody>
          {% for item in seller_inventory%}
            <tr>
              <th scope="row">{{item.id}}</th>
              <th scope="row">{{item.name}}</th>
              <td>{{item.price}}</td>
              <td>{{item.available}}</td>
              <td>{{item.category}}</td>
              <td>{{item.theDescription}}</td>
              <td>{{item.quantity}}</td>
              <td><a style="background-color: hotpink;" class = "btn btn-secondary" href="{{ url_for('sellerInventory.increaseQuantity', id = item.id) }}" role = "button">Add 1</a></td> 
              <td><a style="background-color: hotpink;" class = "btn btn-secondary" href="{{ url_for('sellerInventory.decreaseQuantity', id = item.id) }}" role = "button">Remove 1</a></td> 
              <td><a style="background-color: hotpink;" class = "btn btn-secondary" href="{{ url_for('sellerInventory.removeProduct', id = item.id) }}" role = "button">Delete Product</a></td>  
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p><a href="{{ url_for('users.login') }}">Login as a seller</a> to see your inventory!</p> 
      {% endblock %}