{% extends "base.html" %}

{% block content %}

<h1>Find Sellers Here</h1>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Reviews</th>
        <th scope="col">Detailed Page</th>
      </tr>
    </thead>
    <tbody>
      {% for seller in sellers%}
        <tr>
          <th scope="row">{{seller.id}}</th>
          <td>{{seller.firstname}}</td>
          <td>{{seller.lastname}}</td>
          <td><a class = "btn btn-secondary" href="{{ url_for('sellerReviewOutput.sellerReviewOutput', sellerId = seller.id, orderBy = 5) }}" role = "button">Click for Reviews</a></td> 
          <td><a class = "btn btn-secondary" href="{{ url_for('detailedSeller.detailedSeller', sellerId = seller.id) }}" role = "button">Click for More Info</a></td> 

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}