{% extends "base.html" %}
{% block content %}

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/sellers">Sellers</a>
    <a href="/carts">Cart</a>
    <a href="/account">Account</a>
  </div>
  
<p>   </p>
<h4>Submit Review for Seller {{sellerId}}</h4>

<form action = "{{ url_for('newSellerReview.newSellerReview', sellerId = sellerId, userId = userId) }}" method = "POST"> 
    <ul style = "list-style: none"> 
        <li>
            <label class = "ReviewLabels" for = "rating"><b>Select Rating</b></label> 
        </li>
        <li> 
            <fieldset> 
            <select class = "RatingSelector" name = "rating" id = "rating" required>
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
                <option value = 4>4</option>
                <option value = 5>5</option>
            </select>
        </fieldset>
        </li>
        <li>
            <label class = "ReviewLabels" for = "description"><b>Write Your Review</b></label> 
        </li>    
        <li>
            <textarea class = "ReviewDescription" type="text" name="description"> </textarea>
        </li>
        <li><p>  </p> </li>
        <li>
            <input type="submit" class = "ReviewSubmit"></input>
        </li>
    </ul>
</form>
    
    

{% endblock %}